body {
   // @include color-primary;
   padding-top: 70px;
   background: map-get($map: $darkColor, $key: 50);

   @include responsive(lg) {
      padding-top: 80px;
   }
}

.container {
   margin: auto;
   padding-inline: 20px;
   @include responsive(xl) {
      max-width: 1400px !important;
   }
}

.para {
   line-height: 140%;
   font-weight: 300;
}
