@use "../components/variables" as var;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body,
html {
   font-size: 16px;
   scroll-behavior: smooth;
   overflow-x: hidden;
}

body {
   font-family: var.$font-secondary;
}

:is(p, ul) {
   line-height: 140%;
   opacity: 0.9;
   padding: 0;
}

ul {
   list-style-type: none;
}

:is(h1, h2, h3, h4, h5, h6) {
   line-height: auto;
   font-family: var.$font-primary;
}

img {
   width: 100%;
   height: auto;
}

a {
   text-decoration: none;
}

[aria-hidden="true"] a[href],
[aria-hidden="true"] area[href],
[aria-hidden="true"] input:not([disabled]),
[aria-hidden="true"] select:not([disabled]),
[aria-hidden="true"] textarea:not([disabled]),
[aria-hidden="true"] button:not([disabled]),
[aria-hidden="true"] [tabindex]:not([disabled]),
[aria-hidden="true"] [contenteditable="true"]:not([disabled]) {
   visibility: hidden !important;
}
