.btn {
   @include flex-center;
   gap: 0.5rem;
   color: $whiteColor;
   border-radius: 50px;
   padding: 0.7rem 1.2rem;
   @include transition-light;
   font-family: $font-primary;

   &__primary {
      background: map-get($map: $primaryColor, $key: default);
      border: 1px solid map-get($map: $primaryColor, $key: default);
      &:hover {
         background: $purpleColor;
         border: 1px solid $purpleColor;
      }
      &:focus {
         background: $purpleColor;
         border: 1px solid $purpleColor;
      }
   }
   &__secondary {
      background: $gradientColor;
      border: 1px solid $purpleColor;
      &:hover,
      &:focus {
         background: $gradientColorReversed;
         border: 1px solid $purpleColor;
      }

      &--bordered {
         background: transparent !important;
         &:hover {
            border-color: map-get($map: $primaryColor, $key: default);
         }
      }
   }

   @include responsive(lg) {
      padding: 0.8rem 1.6rem;
   }
}
