:is(input, textarea) {
   &::placeholder {
      font-weight: 300;
   }
   &:valid {
      background: map-get($map: $primaryColor, $key: 50);
      border: 1px solid map-get($map: $primaryColor, $key: 200);
   }
}
