// FONTS
$font-primary: "Arimo", sans-serif;
$font-secondary: "Kanit", sans-serif;

// COLORS
$gradientColor: linear-gradient(135deg, #ffbdad 0%, #ea2fa6 86.88%);
$gradientColorReversed: linear-gradient(45deg, #ffbdad 0%, #ea2fa6 86.88%);
$primaryColor: (
   50: #edf9ff,
   100: #d6efff,
   200: #b5e4ff,
   300: #83d5ff,
   400: #48bdff,
   500: #1e9aff,
   600: #067bff,
   700: #005ce5,
   800: #084ec5,
   900: #0d469b,
   950: #0e2b5d,
   default: #005ce5,
);
$darkColor: (
   50: #f7f7f7,
   100: #e3e3e3,
   200: #c8c8c8,
   300: #a4a4a4,
   400: #818181,
   500: #666666,
   600: #515151,
   700: #434343,
   800: #383838,
   900: #313131,
   950: #1b1b1b,
   default: #005ce5,
);
$whiteColor: #ffffff;
$blackColor: #000000;
$purpleColor: #ea2fa6;

@mixin color-dark($weight: default) {
   color: map-get($darkColor, $weight);
}
@mixin color-primary($weight: default) {
   color: map-get($primaryColor, $weight);
}
