* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Kanit", sans-serif;
}

:is(p, ul) {
  line-height: 140%;
  opacity: 0.9;
  padding: 0;
}

ul {
  list-style-type: none;
}

:is(h1, h2, h3, h4, h5, h6) {
  line-height: auto;
  font-family: "Arimo", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  padding-top: 70px;
  background: #fdfdfd;
  color: #1b1b1b;
}
@media (min-width: 976px) {
  body {
    padding-top: 80px;
  }
}

.container {
  margin: auto;
  padding-inline: 20px;
}
@media (min-width: 1440px) {
  .container {
    max-width: 1400px !important;
  }
}

.para {
  line-height: 140%;
  font-weight: 300;
  font-size: 0.95rem;
}
@media (min-width: 1440px) {
  .para {
    font-size: 1rem;
  }
}

.card-shadow {
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.05);
}

.section-spacing {
  margin-block: 120px;
}
@media (min-width: 976px) {
  .section-spacing {
    margin-block: 150px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
  border-radius: 50px;
  padding: 0.7rem 1.2rem;
  transition: 0.5s ease;
  font-family: "Arimo", sans-serif;
}
.btn__primary {
  background: #005ce5;
  border: 1px solid #005ce5;
}
.btn__primary:hover {
  background: #067bff;
  border: 1px solid #067bff;
}
.btn__primary:focus {
  background: #084ec5;
  border: 1px solid #084ec5;
}
.btn__secondary {
  background: linear-gradient(135deg, #ffbdad 0%, #ea2fa6 86.88%);
  border: 1px solid #ea2fa6;
}
.btn__secondary:hover, .btn__secondary:focus {
  background: linear-gradient(45deg, #ffbdad 0%, #ea2fa6 86.88%);
  border: 1px solid #ea2fa6;
}
.btn__secondary--bordered {
  background: transparent !important;
}
.btn__secondary--bordered:hover {
  border-color: #005ce5;
}
@media (min-width: 976px) {
  .btn {
    padding: 0.8rem 1.6rem;
  }
}

:is(input, textarea)::-moz-placeholder {
  font-weight: 300;
}

:is(input, textarea)::placeholder {
  font-weight: 300;
}
:is(input, textarea):valid {
  background: #edf9ff;
  border: 1px solid #b5e4ff;
}

.header {
  box-shadow: 0 -5px 0 0 #005ce5, 0 -6px 0 0 #ffffff, 0 -8px 0 0 #ea2fa6;
  margin-top: 8px;
  transition: 0.5s ease;
}
.header .navbar {
  padding-block: 2rem;
  transition: 0.5s ease;
}
.header .navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header .navbar .active {
  text-decoration: underline;
  text-decoration-color: #005ce5;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.25rem;
  color: #005ce5;
}
.header.scroll {
  background: #fdfdfd;
  box-shadow: none;
  margin-top: 0;
}
.header.scroll .navbar {
  padding-block: 1rem;
  border-bottom: 1px solid #e3e3e3;
}

nav #navbarToggle:checked ~ #navbarMenu {
  display: flex;
}

.page__home {
  background: #fdfdfd;
}
.page__home .hero {
  --duration: 10s;
}
.page__home .hero .marquee {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100% !important;
}
.page__home .hero .marquee__inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.page__home .hero .marquee .card {
  width: 100%;
  aspect-ratio: 4/2;
  display: grid;
  place-content: center;
  background: #ffffff;
  border: 2px solid rgba(234, 47, 166, 0.1);
}
.page__home .hero .marquee img {
  height: 100%;
}
@media (min-width: 976px) {
  .page__home .hero .marquee {
    gap: 1rem;
  }
  .page__home .hero .marquee__inner {
    gap: 1rem;
  }
}
.page__home .hero #marquee1 {
  animation: row1marquee1 var(--duration) linear infinite;
}
.page__home .hero #marquee2 {
  animation: row1marquee2 var(--duration) linear infinite;
  animation-delay: calc(var(--duration) / 2);
}
.page__home .clientSlider {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  position: relative;
  --duration: 10s;
}
.page__home .clientSlider .marquee {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 400vw;
}
.page__home .clientSlider .marquee__inner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}
.page__home .clientSlider .marquee .card {
  width: 100%;
  aspect-ratio: 4/2;
  display: grid;
  place-content: center;
  background: #ffffff;
  border: 2px solid rgba(234, 47, 166, 0.1);
}
.page__home .clientSlider .marquee img {
  height: 100%;
}
@media (min-width: 768px) {
  .page__home .clientSlider .marquee {
    width: 200vw;
  }
}
.page__home .clientSlider #marquee1 {
  animation: row1marquee1 var(--duration) linear infinite;
}
.page__home .clientSlider #marquee2 {
  animation: row1marquee2 var(--duration) linear infinite;
  animation-delay: calc(var(--duration) / 2);
}
.page__home .statistics-slider-wrapper {
  position: relative;
}
.page__home .statistics-slider-wrapper .statistics-slider {
  position: relative;
  transform: translateX(10%);
}
.page__home .statistics-slider-wrapper .statistics-slider::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 103%;
  transform: translateY(-50%);
  height: 90%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background: #fdfdfd;
  box-shadow: 1px 0 0 0 #005ce5;
}
.page__home .statistics-slider-wrapper .statistics-slider::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 103%;
  transform: translate(50%, -50%);
  height: 1rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background: linear-gradient(135deg, #ffbdad 0%, #ea2fa6 86.88%);
  z-index: 1;
}
@media (min-width: 976px) {
  .page__home .statistics-slider-wrapper .statistics-slider {
    transform: translateX(40%);
  }
}
.page__home .statistics-slider-wrapper .slick-slide {
  opacity: 0.1;
  font-weight: 300;
}
.page__home .statistics-slider-wrapper .slick-slide .card {
  transition: 0.5s ease;
  padding-left: 0;
}
.page__home .statistics-slider-wrapper .slick-slide .card * {
  width: -moz-fit-content;
  width: fit-content;
}
.page__home .statistics-slider-wrapper .slick-slide.slick-active {
  opacity: 1;
}
.page__home .statistics-slider-wrapper .slick-slide.slick-active p:first-child {
  font-size: 1.8rem;
}
@media (min-width: 976px) {
  .page__home .statistics-slider-wrapper .slick-slide.slick-active p:first-child {
    font-size: 2.2rem;
  }
}
.page__home .statistics-slider-wrapper .slick-slide.slick-active.slick-current {
  opacity: 1;
}
.page__home .statistics-slider-wrapper .slick-slide.slick-active.slick-current .card {
  padding-left: 2rem;
}
.page__home .statistics-slider-wrapper .slick-slide.slick-active.slick-current .card p:first-child {
  font-weight: 700;
  background: linear-gradient(135deg, #ffbdad 0%, #ea2fa6 86.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.page__home .location-inner {
  background: linear-gradient(92.28deg, #00a0e5 0%, #005ce5 41.37%);
}

@keyframes row1marquee1 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes row1marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}
.page__about .gallery__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.page__about .gallery__wrapper .row {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.page__about .gallery__wrapper .row .marquee {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.page__about .gallery__wrapper .row .marquee__inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.page__about .gallery__wrapper .row #row1marquee1 {
  animation: row1marquee1 10s linear infinite;
}
.page__about .gallery__wrapper .row #row1marquee2 {
  animation: row1marquee2 10s linear infinite;
  animation-delay: 5s;
}
.page__about .gallery__wrapper .row #row2marquee1 {
  animation: row1marquee1 10s linear infinite reverse;
}
.page__about .gallery__wrapper .row #row2marquee2 {
  animation: row1marquee2 10s linear infinite reverse;
  animation-delay: 5s;
}
.page__about .gallery__wrapper .row #row3marquee1 {
  animation: row1marquee1 10s linear infinite;
}
.page__about .gallery__wrapper .row #row3marquee2 {
  animation: row1marquee2 10s linear infinite;
  animation-delay: 5s;
}
.page__about .gallery__wrapper .card {
  width: calc(50vw - 0.125rem);
  aspect-ratio: 3/2;
  background: #e3e3e3;
}
.page__about .gallery__wrapper .card img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 976px) {
  .page__about .gallery__wrapper .card {
    width: calc(20vw - 0.125rem);
  }
}

@keyframes row1marquee1 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes row1marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}
.page__services .hero .hero-slider .slick-dots {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.page__services .hero .hero-slider .slick-dots li {
  width: 1rem !important;
  height: 1rem;
  border-radius: 10px !important;
  background: #e3e3e3 !important;
}
.page__services .hero .hero-slider .slick-dots li button {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
}
.page__services .hero .hero-slider .slick-dots li.slick-active {
  background: linear-gradient(135deg, #ffbdad 0%, #ea2fa6 86.88%) !important;
}
.page__services .clientSlider {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  position: relative;
  --duration: 10s;
}
.page__services .clientSlider .marquee {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 400vw;
}
.page__services .clientSlider .marquee__inner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}
.page__services .clientSlider .marquee .card {
  width: 100%;
  aspect-ratio: 4/2;
  display: grid;
  place-content: center;
  background: #ffffff;
  border: 2px solid rgba(234, 47, 166, 0.1);
}
.page__services .clientSlider .marquee img {
  height: 100%;
}
@media (min-width: 768px) {
  .page__services .clientSlider .marquee {
    width: 200vw;
  }
}
.page__services .clientSlider #marquee1 {
  animation: row1marquee1 var(--duration) linear infinite;
}
.page__services .clientSlider #marquee2 {
  animation: row1marquee2 var(--duration) linear infinite;
  animation-delay: calc(var(--duration) / 2);
}/*# sourceMappingURL=main.css.map */