* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Kanit", sans-serif;
}

:is(p, ul) {
  line-height: 140%;
  opacity: 0.9;
  padding: 0;
}

ul {
  list-style-type: none;
}

:is(h1, h2, h3, h4, h5, h6) {
  line-height: auto;
  font-family: "Arimo", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  padding-top: 70px;
  background: #fdfdfd;
  color: #1b1b1b;
  overflow-x: hidden;
}
@media (min-width: 976px) {
  body {
    padding-top: 80px;
  }
}

.container {
  margin: auto;
  padding-inline: 20px;
}
@media (min-width: 1440px) {
  .container {
    max-width: 1400px !important;
  }
}

.para {
  line-height: 140%;
  font-weight: 300;
  font-size: 0.95rem;
}
@media (min-width: 1440px) {
  .para {
    font-size: 1rem;
  }
}

.card-shadow {
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.05);
}

.section-spacing {
  margin-block: 120px;
}
@media (min-width: 976px) {
  .section-spacing {
    margin-block: 150px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
  border-radius: 50px;
  padding: 0.7rem 1.2rem;
  transition: 0.5s ease;
  font-family: "Arimo", sans-serif;
}
.btn__primary {
  background: #005ce5;
  border: 1px solid #005ce5;
}
.btn__primary:hover {
  background: #067bff;
  border: 1px solid #067bff;
}
.btn__primary:focus {
  background: #084ec5;
  border: 1px solid #084ec5;
}
.btn__secondary {
  background: linear-gradient(135deg, #ffbdad 0%, #ea2fa6 86.88%);
  border: 1px solid #ea2fa6;
}
.btn__secondary:hover, .btn__secondary:focus {
  background: linear-gradient(45deg, #ffbdad 0%, #ea2fa6 86.88%);
  border: 1px solid #ea2fa6;
}
.btn__secondary--bordered {
  background: transparent !important;
}
.btn__secondary--bordered:hover {
  border-color: #005ce5;
}
@media (min-width: 976px) {
  .btn {
    padding: 0.8rem 1.6rem;
  }
}

:is(input, textarea)::-moz-placeholder {
  font-weight: 300;
}

:is(input, textarea)::placeholder {
  font-weight: 300;
}
:is(input, textarea):valid {
  background: #edf9ff;
  border: 1px solid #b5e4ff;
}

.header {
  box-shadow: 0 -5px 0 0 #005ce5, 0 -6px 0 0 #ffffff, 0 -8px 0 0 #ea2fa6;
  margin-top: 8px;
  transition: 0.5s ease;
}
.header .navbar {
  padding-block: 2rem;
  transition: 0.5s ease;
}
.header .navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header .navbar .active {
  text-decoration: underline;
  text-decoration-color: #005ce5;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.25rem;
  color: #005ce5;
}
.header.scroll {
  background: #fdfdfd;
  box-shadow: none;
  margin-top: 0;
}
.header.scroll .navbar {
  padding-block: 1rem;
  border-bottom: 1px solid #e3e3e3;
}

nav #navbarToggle:checked ~ #navbarMenu {
  display: flex;
}

.page__about .gallery__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.page__about .gallery__wrapper .row {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.page__about .gallery__wrapper .row .marquee {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.page__about .gallery__wrapper .row .marquee__inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.page__about .gallery__wrapper .row #row1marquee1 {
  animation: row1marquee1 10s linear infinite;
}
.page__about .gallery__wrapper .row #row1marquee2 {
  animation: row1marquee2 10s linear infinite;
  animation-delay: 5s;
}
.page__about .gallery__wrapper .row #row2marquee1 {
  animation: row1marquee1 10s linear infinite reverse;
}
.page__about .gallery__wrapper .row #row2marquee2 {
  animation: row1marquee2 10s linear infinite reverse;
  animation-delay: 5s;
}
.page__about .gallery__wrapper .row #row3marquee1 {
  animation: row1marquee1 10s linear infinite;
}
.page__about .gallery__wrapper .row #row3marquee2 {
  animation: row1marquee2 10s linear infinite;
  animation-delay: 5s;
}
.page__about .gallery__wrapper .card {
  width: calc(50vw - 0.125rem);
  aspect-ratio: 3/2;
  background: #e3e3e3;
}
.page__about .gallery__wrapper .card img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 976px) {
  .page__about .gallery__wrapper .card {
    width: calc(20vw - 0.125rem);
  }
}

@keyframes row1marquee1 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes row1marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}/*# sourceMappingURL=main.css.map */