.page {
   &__about {
      // Gallery
      .gallery {
         &__wrapper {
            @include flex-column;
            gap: 0.5rem;
            .row {
               white-space: nowrap;
               overflow: hidden;
               width: 100%;

               .marquee {
                  display: flex;
                  width: 200vw;

                  &__inner {
                     width: 100%;
                     display: flex;
                     max-height: 250px;
                     gap: 0.5rem;
                     padding-inline: 0.25rem;
                  }
               }
               --duration: 15s;
               #row1marquee1 {
                  animation: row1marquee1 var(--duration) linear infinite;
               }
               #row1marquee2 {
                  animation: row1marquee2 var(--duration) linear infinite;
                  animation-delay: calc(var(--duration) / 2);
               }
               #row2marquee1 {
                  animation: row1marquee1 var(--duration) linear infinite
                     reverse;
               }
               #row2marquee2 {
                  animation: row1marquee2 var(--duration) linear infinite
                     reverse;
                  animation-delay: calc(var(--duration) / 2);
               }
               #row3marquee1 {
                  animation: row1marquee1 var(--duration) linear infinite;
               }
               #row3marquee2 {
                  animation: row1marquee2 var(--duration) linear infinite;
                  animation-delay: calc(var(--duration) / 2);
               }
            }
            .card {
               background: map-get($map: $darkColor, $key: 100);
               width: fit-content;

               img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  // object-position: top;
               }
            }

            @include responsive(lg) {
               .card {
                  img {
                     // min-width: 200px;
                  }
               }
            }
         }
      }

      .statistics-slider-wrapper {
         position: relative;

         .sub-dot {
            width: 0.5rem;
            aspect-ratio: 1 / 1;
            border-radius: 100%;
            background: map-get($map: $primaryColor, $key: 700);
            position: absolute;
            top: 28%;
            left: 0.2rem;
            z-index: 10;

            &.bottom {
               top: initial;
               bottom: 28%;
            }

            @include responsive(md) {
               top: 28%;
               left: 5.2rem;
               &.bottom {
                  top: initial;
                  bottom: 28%;
               }
            }

            @include responsive(lg) {
               top: 25%;
               left: 4.3rem;

               &.bottom {
                  top: initial;
                  bottom: 25%;
               }
            }
         }

         .statistics-slider {
            position: relative;
            transform: translateX(10%);
            max-width: 400px;

            &::after {
               content: "";
               position: absolute;
               top: 50%;
               right: 103%;
               transform: translateY(-50%);
               height: 70%;
               aspect-ratio: 1 / 1;
               border-radius: 100%;
               background: map-get($map: $darkColor, $key: 950);
               box-shadow: 1px 0 0 0 map-get($map: $darkColor, $key: 500);
            }

            &::before {
               content: "";
               position: absolute;
               top: 50%;
               right: 103%;
               transform: translate(50%, -50%);
               height: 1rem;
               aspect-ratio: 1 / 1;
               border-radius: 100%;
               background: $gradientColor;
               z-index: 1;
            }

            @include responsive(lg) {
               transform: translateX(40%);
            }
            @include responsive(md) {
               transform: translateX(30%);
            }
         }

         .slick-slide {
            opacity: 0.1;
            font-weight: 300;

            .card {
               @include transition-light;
               padding-left: 0;
               * {
                  width: fit-content;
               }
            }
         }
         .slick-slide.slick-active {
            opacity: 1;
            p:first-child {
               font-size: 1.8rem;
               font-weight: 700;
               font-family: $font-primary;
               letter-spacing: -2px;

               @include responsive(lg) {
                  font-size: 2.2rem;
               }
            }
            p:last-child {
               color: $whiteColor;
               font-weight: 300 !important;
            }
         }
         .slick-slide.slick-active.slick-current {
            opacity: 1;
            .card {
               padding-left: 2rem;

               p:first-child {
                  background: linear-gradient(
                     135deg,
                     #ffbdad 0%,
                     #ea2fa6 86.88%
                  );
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  background-clip: text;
                  text-fill-color: transparent;
               }
            }
         }
      }
   }
}

@keyframes row1marquee1 {
   from {
      transform: translateX(100%);
   }
   to {
      transform: translateX(-100%);
   }
}
@keyframes row1marquee2 {
   from {
      transform: translateX(0%);
   }
   to {
      transform: translateX(-200%);
   }
}
