.page {
   &__driver {
      // Styling Client Slider

      .marquee {
         display: grid;
         grid-template-columns: 1fr 1fr;
         width: 400vw;

         &__inner {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 1rem;
            padding-inline: 0.5rem;

            @include responsive(lg) {
               grid-template-columns: repeat(8, 1fr);
            }
         }

         .card {
            width: 100%;
            aspect-ratio: 4 / 2;
            @include grid-center;
            background: $whiteColor;
            border: 2px solid rgba($purpleColor, 0.1);
         }

         img {
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
            object-position: top;
            aspect-ratio: 2 / 3;
         }

         @include responsive(md) {
            width: 200vw;
         }
      }

      --duration: 10s;
      #marquee1 {
         animation: row1marquee1 var(--duration) linear infinite;
      }
      #marquee2 {
         animation: row1marquee2 var(--duration) linear infinite;
         animation-delay: calc(var(--duration) / 2);
      }

      // Why Us
      .earn-extra {
         .card {
            @include transition-lazy;
            .number {
               background: $whiteColor;
               border: 1px solid map-get($map: $primaryColor, $key: 700);
               transition: background 0.5s ease !important;
            }
         }
         .card:hover {
            .number {
               border: none;
               background: $gradientColor !important;
               color: $whiteColor !important;
            }

            @include responsive(lg) {
               transform: translateY(-20px);
            }
         }
      }

      // Fluid
      .fluid {
         position: absolute;
         transform: translate(-50%, -50%);
         z-index: -1;
         pointer-events: none;
         width: 200px;
         border-radius: 100%;
         aspect-ratio: 1 / 1;
         @include transition-lazy;
         transition-duration: 5s;
         filter: blur(200px);
         opacity: 0.1;

         &.pink {
            top: 0;
            left: 0;
            background: $gradientColor;
            // animation: randomTopLeft 10s linear infinite alternate;
         }

         &.blue {
            top: 0;
            left: 100%;
            background: map-get($map: $primaryColor, $key: 700);
            // animation: randomTopLeft 10s linear infinite alternate;
         }

         @include responsive(lg) {
            width: 600px;
         }
      }
   }
}

@keyframes randomTopLeft {
   from {
      top: random(100) + "%";
      left: random(100) + "%";
   }
   to {
      top: random(100) + "%";
      left: random(100) + "%";
   }
}
