.page {
   &__home {
      background: map-get($map: $darkColor, $key: 50);

      // Hero
      .hero {
         .marquee {
            @include flex-start;
            width: 100% !important;

            &__inner {
               @include flex-start;
               gap: 0.5rem;
               padding-inline: 0.25rem;
            }

            .card {
               width: 100%;
               aspect-ratio: 4 / 2;
               @include grid-center;
               background: $whiteColor;
               border: 2px solid rgba($purpleColor, 0.1);
            }

            img {
               height: 100%;
            }

            @include responsive(lg) {
               &__inner {
                  gap: 1rem;
                  padding-inline: 0.5rem;
               }
            }
         }

         --duration: 10s;
         #marquee1 {
            animation: row1marquee1 var(--duration) linear infinite;
         }
         #marquee2 {
            animation: row1marquee2 var(--duration) linear infinite;
            animation-delay: calc(var(--duration) / 2);
         }
      }

      // Styling Client Slider
      .clientSlider {
         white-space: nowrap;
         overflow: hidden;
         width: 100%;
         position: relative;

         .marquee {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 400vw;

            &__inner {
               width: 100%;
               display: flex;
               gap: 1rem;
               padding-inline: 0.5rem;
            }

            .card {
               padding: 1rem;
               width: 100%;
               aspect-ratio: 4 / 2;
               @include grid-center;
               background: $whiteColor;
               border: 2px solid rgba($purpleColor, 0.1);
            }

            img {
               height: 100%;
            }

            @include responsive(md) {
               width: 200vw;
            }
         }

         --duration: 10s;
         #marquee1 {
            animation: row1marquee1 var(--duration) linear infinite;
         }
         #marquee2 {
            animation: row1marquee2 var(--duration) linear infinite;
            animation-delay: calc(var(--duration) / 2);
         }
      }

      // Statistics Slider
      .statistics-slider-wrapper {
         position: relative;

         .statistics-slider {
            position: relative;
            transform: translateX(10%);
            max-width: 400px;

            &::after {
               content: "";
               position: absolute;
               top: 50%;
               right: 103%;
               transform: translateY(-50%);
               height: 50%;
               aspect-ratio: 1 / 1;
               border-radius: 100%;
               background: map-get($map: $darkColor, $key: 50);
               box-shadow: 1px 0 0 0 map-get($map: $primaryColor, $key: 700);
            }

            &::before {
               content: "";
               position: absolute;
               top: 50%;
               right: 103%;
               transform: translate(50%, -50%);
               height: 1rem;
               aspect-ratio: 1 / 1;
               border-radius: 100%;
               background: $gradientColor;
               z-index: 1;
            }

            @include responsive(lg) {
               transform: translateX(40%);
            }
            @include responsive(md) {
               transform: translateX(30%);
            }
         }

         .slick-slide {
            opacity: 0.1;
            font-weight: 300;

            .card {
               @include transition-light;
               padding-left: 0;
               * {
                  width: fit-content;
               }
            }
         }
         .slick-slide.slick-active {
            opacity: 1;
            p:first-child {
               font-size: 1.8rem;

               @include responsive(lg) {
                  font-size: 2.2rem;
               }
            }
         }
         .slick-slide.slick-active.slick-current {
            opacity: 1;
            .card {
               padding-left: 2rem;

               p:first-child {
                  font-weight: 700;
                  background: linear-gradient(
                     135deg,
                     #ffbdad 0%,
                     #ea2fa6 86.88%
                  );
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  background-clip: text;
                  text-fill-color: transparent;
               }
            }
         }
      }

      // location
      .location {
         &-inner {
            // background: linear-gradient(92.28deg, #00a0e5 0%, #005ce5 41.37%);
            background: map-get($map: $darkColor, $key: 950);
         }
         .card:has(img) {
            display: block;
            position: relative;
            overflow: hidden;
            &::after {
               content: "";
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               background: linear-gradient(
                  to top,
                  map-get($map: $darkColor, $key: 950) 0%,
                  #00000000 50%
               );
            }
            img {
               @include transition-lazy;
            }
            &:hover img {
               transform: scale(2) rotate(-30deg);
            }
         }
      }

      // Styling Progress Bars
      .progress {
         position: relative;
         width: 50%;
         height: 1.5rem;
         background: map-get($map: $primaryColor, $key: 700);
         border-radius: 3px;
         margin-top: 2rem;

         * {
            @include transition-light;
         }

         .value {
            display: block;
            position: absolute;
            bottom: 150%;
            font-weight: 300;
            transform: translateX(-50%);
            @include transition-light;
            width: 0px;

            &::after {
               content: "";
               position: absolute;
               top: 100%;
               left: 50%;
               width: 1px;
               height: 8px;
               background: #1b1b1b;
               z-index: 1;
            }
         }

         .progressChange {
            position: absolute;
            top: 0;
            height: 100%;
            width: 0%;
            background: var(--progress-color);
            border-radius: 3px;
            @include transition-lazy;
            transition-delay: 1.5s;
         }

         &.positive {
            --progress-color: #00e56f;

            .progressChange {
               left: calc(100% - 3px);
            }
         }

         &.negative {
            --progress-color: #{$gradientColor};
            .progressChange {
               right: 0;
            }
         }
      }

      // Fluid
      .fluid {
         position: absolute;
         transform: translate(-50%, -50%);
         z-index: -1;
         pointer-events: none;
         width: 200px;
         border-radius: 100%;
         aspect-ratio: 1 / 1;
         @include transition-lazy;
         transition-duration: 5s;
         filter: blur(200px);
         opacity: 0.1;

         &.pink {
            top: 0;
            left: 0;
            background: $gradientColor;
            // animation: randomTopLeft 10s linear infinite alternate;
         }

         &.blue {
            top: 0;
            left: 100%;
            background: map-get($map: $primaryColor, $key: 700);
            // animation: randomTopLeft 10s linear infinite alternate;
         }

         @include responsive(lg) {
            width: 600px;
         }
      }
   }
}

@keyframes row1marquee1 {
   from {
      transform: translateX(100%);
   }
   to {
      transform: translateX(-100%);
   }
}
@keyframes row1marquee2 {
   from {
      transform: translateX(0%);
   }
   to {
      transform: translateX(-200%);
   }
}

@keyframes randomTopLeft {
   from {
      top: random(100) + "%";
      left: random(100) + "%";
   }
   to {
      top: random(100) + "%";
      left: random(100) + "%";
   }
}
