.page {
   &__services {
      .hero {
         .hero-slider {
            .slick-dots {
               @include flex-start;
               gap: 0.5rem;

               li {
                  width: 1rem !important;
                  height: 1rem;
                  border-radius: 10px !important;
                  background: map-get($map: $darkColor, $key: 100) !important;

                  button {
                     opacity: 0;
                     visibility: hidden;
                     width: 0;
                     height: 0;
                     overflow: hidden;
                  }

                  &.slick-active {
                     background: $gradientColor !important;
                  }
               }
            }
         }
      }

      // Vehical Slider
      .vehicles {
         // Main Slider
         .content-slider-wrapper {
            .content-slider {
               width: 100% !important;
            }
         }
         // Nav Slider
         .nav-slider-wrapper {
            .card {
               @include grid-center;
               aspect-ratio: 1 / 1;
               width: 100% !important;
               border: none;
               img {
                  height: 100%;
                  width: fit-content;
               }
            }

            .slick-slide.slick-current {
               background: #fff !important;
               box-shadow: 0px 10px 40px 0px #1b1b1b33;
               border: 2px solid;
               border-image-slice: 1;
               border-image-source: $gradientColor;
               background-clip: padding-box;
            }
         }
      }

      // Styling Client Slider
      .clientSlider {
         white-space: nowrap;
         overflow: hidden;
         width: 100%;
         position: relative;

         .marquee {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            width: 400vw;

            &__inner {
               width: 100%;
               display: grid;
               grid-template-columns: repeat(6, 1fr);
               gap: 1rem;
            }

            .card {
               width: 100%;
               aspect-ratio: 4 / 2;
               @include grid-center;
               background: $whiteColor;
               border: 2px solid rgba($purpleColor, 0.1);
            }

            img {
               height: 100%;
            }

            @include responsive(md) {
               width: 200vw;
            }
         }

         --duration: 10s;
         #marquee1 {
            animation: row1marquee1 var(--duration) linear infinite;
         }
         #marquee2 {
            animation: row1marquee2 var(--duration) linear infinite;
            animation-delay: calc(var(--duration) / 2);
         }
      }
   }
}
