.page {
   &__services {
      .hero {
         .hero-slider {
            .slick-dots {
               @include flex-start;
               gap: 0.5rem;

               li {
                  width: 1rem !important;
                  height: 1rem;
                  border-radius: 10px !important;
                  background: map-get($map: $darkColor, $key: 100) !important;

                  button {
                     opacity: 0;
                     visibility: hidden;
                     width: 0;
                     height: 0;
                     overflow: hidden;
                  }

                  &.slick-active {
                     background: $gradientColor !important;
                  }
               }
            }
         }
      }

      // Vehical Slider
      .vehicles {
         // Main Slider
         .content-slider-wrapper {
            .content-slider {
               width: 100% !important;
            }
         }
         // Nav Slider
         .nav-slider-wrapper {
            .card {
               @include grid-center;
               aspect-ratio: 1 / 1;
               width: 100% !important;
               border: none;
               img {
                  height: 100%;
                  width: fit-content;
               }
            }

            .slick-slide.slick-current {
               background: #fff !important;
               box-shadow: 0px 10px 40px 0px #1b1b1b33;
               border: 2px solid;
               border-image-slice: 1;
               border-image-source: $gradientColor;
               background-clip: padding-box;
            }
         }
      }

      // Styling Client Slider
      .clientSlider {
         white-space: nowrap;
         overflow: hidden;
         width: 100%;
         position: relative;

         .marquee {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 400vw;

            &__inner {
               width: 100%;
               display: flex;
               gap: 1rem;
               padding-inline: 0.5rem;
            }

            .card {
               width: 100%;
               padding: 1rem;
               aspect-ratio: 4 / 2;
               @include grid-center;
               background: $whiteColor;
               border: 2px solid rgba($purpleColor, 0.1);
            }

            img {
               height: 100%;
            }

            @include responsive(md) {
               width: 200vw;
            }
         }

         --duration: 10s;
         #marquee1 {
            animation: row1marquee1 var(--duration) linear infinite;
         }
         #marquee2 {
            animation: row1marquee2 var(--duration) linear infinite;
            animation-delay: calc(var(--duration) / 2);
         }
      }

      // form
      .form-wrapper {
         .navigation {
            padding: 2rem;
            @include flex-between;
            align-items: flex-start;
            gap: 1rem;

            .step {
               --color: #{map-get($map: $darkColor, $key: 100)};

               @include flex-center;
               @include flex-column;
               text-align: center;
               gap: 0.5rem;
               line-height: 100%;
               flex: 1;
               position: relative;
               pointer-events: none;

               span:first-child {
                  display: block;
                  width: 2rem;
                  aspect-ratio: 1 / 1;
                  @include flex-center;
                  background: var(--color);
                  border: 1px solid transparent;
                  border-radius: 100%;
               }

               span:last-child {
                  text-transform: uppercase;
                  font-size: 0.8rem;
               }

               &:not(:last-child)::after {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 2px;
                  background: var(--color);
                  left: 50%;
                  top: 1rem;
                  translate: 0 -50%;
                  z-index: -1;
               }

               &.completed {
                  --color: #{map-get($map: $primaryColor, $key: 700)};
                  color: $whiteColor;
                  pointer-events: all;
                  cursor: pointer;

                  span:last-child {
                     color: var(--color);
                  }

                  &:hover span:first-child {
                     border-color: $purpleColor !important;
                  }
               }

               &.active {
                  --color: #{map-get($map: $primaryColor, $key: 700)};
                  span:first-child {
                     background: map-get($map: $darkColor, $key: 100);
                     border: 1px solid var(--color);
                     color: var(--color);
                  }
                  span:last-child {
                     color: var(--color);
                  }
                  &:not(:last-child)::after {
                     background: map-get($map: $darkColor, $key: 100);
                  }

                  &.completed {
                     &:not(:last-child)::after {
                        background: var(--color);
                     }
                  }
               }
            }
         }
         .step-wrapper {
            padding: 2rem;

            .select-city,
            .select-delivery,
            .select-vehicle,
            .select-service,
            .select-product {
               .optionWrapper {
                  label .customCheck {
                     @include transition-lazy;
                  }
                  input:checked + label .customCheck {
                     border: 2px solid map-get($map: $primaryColor, $key: 700);
                     background: $gradientColor;
                  }
                  input:checked + label {
                     border-color: map-get($map: $primaryColor, $key: 700);
                  }
               }
            }

            .pill {
               background: map-get($map: $primaryColor, $key: 700);
               color: $whiteColor;
               border-radius: 5px;
               text-transform: capitalize;
               padding: 0.1rem 0.3rem;
               width: fit-content;
            }

            .bink {
               animation: 0.2s blink alternate infinite;
            }
         }

         &.first {
            animation: 0.2s blink-border alternate infinite;
         }
      }
   }
}

@keyframes blink {
   to {
      color: map-get($map: $darkColor, $key: 950);
   }
   from {
      color: red;
   }
}
@keyframes blink-border {
   to {
      border: 1px solid #e5e7eb;
   }
   from {
      border: 1px solid red;
   }
}

[x-cloak] {
   display: none;
}

[type="checkbox"] {
   box-sizing: border-box;
   padding: 0;
}

.form-checkbox,
.form-radio {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   -webkit-print-color-adjust: exact;
   color-adjust: exact;
   display: inline-block;
   vertical-align: middle;
   background-origin: border-box;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   flex-shrink: 0;
   color: currentColor;
   background-color: #fff;
   border-color: #e2e8f0;
   border-width: 1px;
   height: 1.4em;
   width: 1.4em;
}

.form-checkbox {
   border-radius: 0.25rem;
}

.form-radio {
   border-radius: 50%;
}

.form-checkbox:checked {
   background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
   border-color: transparent;
   background-color: currentColor;
   background-size: 100% 100%;
   background-position: center;
   background-repeat: no-repeat;
}

.form-radio:checked {
   background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
   border-color: transparent;
   background-color: currentColor;
   background-size: 100% 100%;
   background-position: center;
   background-repeat: no-repeat;
}
